{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/rentals/rental-detail.css' %}"
/>
{% endblock %}

{% block content %}
  
<div class="card" style="border-color: {{ driver.color }}">
  <div class="card-bg" style="background-color: {{ driver.color }}"></div>
  <div class="card-content">
    <h2>{{ rental.driver }}</h2>
    <p>Rented for {{ rental.days_rented }} days</p>
  </div>
</div>
<a href="{% url 'rentals_update' rental.id %}" class="btn warn">Edit</a>
<a href="{% url 'rentals_delete' rental.id %}" class="btn danger">Delete</a>

{% endblock %}