{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/rentals/rental-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Car Rentals</h1>
  <img src="{% static 'images/mpg.svg' %}" alt="A mpg document" />
  <img src="{% static 'images/taxi.svg' %}" alt="A taxi" />
</section>

<section class="card-container">
  {% for rental in rental_list %}
  <div class="card" style="border-color: {{ rental.driver }}">
    <div class="card-bg" style="background-color: {{ rental.driver }}"></div>
    <a href="{% url 'rentals_detail' rental.id %}">
      <div class="card-content">
        <h2>{{ rental.driver }}</h2>
        <p>Rented for {{ rental.days_rented }} days</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}