{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-header">
  <h1>Delete Rental?</h1>
  <img src="{% static 'images/rental.svg' %}" alt="rental"/>
</div>
<h2>Are you sure you want to delete {{ object.driver }}'s rental?</h2>

<form action="" method="POST" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'rentals_detail' rental.id %}" 
    class="btn secondary"
  >
    Cancel
  </a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}