{% extends 'base.html' %} {% load static %} {% block head %}

<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/cars/car-detail.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/cars/car-detail.css' %}"
/>
<script defer src="{% static 'js/car-detail.js' %}"></script>

{% endblock %} {% block content %}

<section class="car-container">
  <div class="car-img">
    <img src="{% static 'images/disney-car.svg' %}" alt="Car logo" />
  </div>
  <div class="car-details">
    <h1>{{ car.owner }}'s Car</h1>
    {% if car.year > 2000 %}
    <h2>
      A {{ car.year }} {{ car.make }} {{ car.model }} is a car from the 21st
      Century.
    </h2>
    {% else %}
    <h2>A {{ car.year }} {{ car.make }} {{ car.model }} is a classic car.</h2>
    {% endif %}
    <p>{{ car.description }}</p>
    <div class="car-actions">
      <a href="{% url 'cars_update' car.id %}" class="btn warn">Edit</a>
      <a href="{% url 'cars_delete' car.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="maintenance-renter-container">
  <section class="maintenance">
    <div class="subsection-title">
      <h2>Vehicle Maintenance</h2>
      <img src="{% static 'images/tools.svg' %}" alt="tool pic" />
      <img src="{% static 'images/safety.svg' %}" alt="safety notice" />
      <img
        src="{% static 'images/cone.svg' %}"
        alt="cone"
      />
    </div>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Vin #</th>
          <th>Service Type</th>
        </tr>
      </thead>
      <tbody>
        {% for maintenance in car.maintenance_set.all %}
        <tr>
          <td>{{maintenance.date}}</td>
          <td>{{maintenance.vin}}</td>
          <td>{{maintenance.get_service_type_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
<h3>Add Maintenance</h3>
    <form
      action="{% url 'add_maintenance' car.id %}" 
      method="post" 
      class="subsection-content"
    >
    {% if car.serviced_for_today %}
        <p class="serviced">{{car.year}} {{car.make}} {{car.model}} was serviced today!</p>
      {% else %}
        <p class="unserviced">{{car.year}} {{car.make}} {{car.model}} might need a service!</p>
      {% endif %}
      {% csrf_token %}
      {{ maintenance_form.as_p }}
      <button type="submit" class="btn submit">Add Maintenance</button>
    </form>
    <h3>Past Maintenances</h3>
    {% if car.maintenance_set.all.count %}
      <table>
        <thead>
          <tr><th>Date</th><th>Vin</th><th>Service type</th></tr>
        </thead>
        <tbody>
          {% for maintenance in car.maintenance_set.all %}
            <tr>
              <td>{{maintenance.date}}</td>
              <td>{{maintenance.vin}}</td>
              <td>{{maintenance.get_service_type_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
			<div class="subsection-content">
        <p>{{car.year}} {{car.make}} {{car.model}}has never been maintenanced!</p>
      </div>
    {% endif %}
    </section>
    
{% endblock %}
