{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/cars/car-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Car List</h1>
  <img src="{% static 'images/racing-car-1.svg' %}" alt="A cool car" />
  <img src="{% static 'images/suv-car.svg' %}" alt="A big car" />
  <img src="{% static 'images/cool-car.svg' %}" alt="A cooler racing car" />
  <img src="{% static 'images/disney-car.svg' %}" alt="Cars logo" />
</section>

<section class="card-container">
  {% for car in cars %}
  <div class="card">
    <a href="{% url 'cars_detail' car.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/disney-car.svg' %}" 
              alt="Car logo"
            >
          </div>
          <h2 class="card-title">{{ car.owner }}</h2>
          {% if car.year > 2019 %}
            <p>{{ car.owner }} has a fast car! </p>
          {% else %}
            <p>{{ car.owner }} needs to get a faster car 😎</p>
          {% endif %}
          <p><small>{{ car.year }} {{ car.make }} {{ car.model }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}