{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/cars/car-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Car List</h1>
  <img src="{% static 'images/racing-car-1.svg' %}" alt="A cool car" />
  <img src="{% static 'images/suv-car.svg' %}" alt="A big car" />
  <img src="{% static 'images/cool-car.svg' %}" alt="A cooler racing car" />
  <img src="{% static 'images/disney-car.svg' %}" alt="Cars logo" />
</section>

<section class="card-container">
  {% for car in cars %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/disney-car.svg' %}" 
            alt="Car logo"
          >
        </div>
        <h2 class="card-title">{{ car.year }}</h2>
        {% if car.make > 0 %}
          <p>A {{ car.model }} {{ car.model }}</p>
        {% else %}
          <p>A {{ car.model }} is cool.</p>
        {% endif %}
        <p><small>{{ car.model }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}